@theme {
  --color-surface: #fcfcfc;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container: #efefef;
  --color-surface-container-high: #e6e6e6;
  --color-surface-container-highest: #e0e0e0;
  --color-outline: #f3f3f3;
  --color-outline-variant: #afafaf;
  --color-on-surface-variant: #595959;
  --color-on-surface: #202020;
  --color-primary: #00f8c0;
  --color-primary-hover: #16ddac;
  --color-primary-pressed: #08c498;
  --color-on-primary: #0a281e;
  --color-primary-outline: #2ddcac;
  --color-primary-text: #007c5a;
  --color-primary-container: #b1fcdf;
  --color-on-primary-container: #004932;
  --color-inverse-surface: #202020;
  --color-inverse-on-surface: #fcfcfc;
  --color-warning: #b08a2e;
  --color-error: #d23b3b;
  --font-headline-lg: "Google Sans";
  --font-headline-md: "Google Sans";
  --font-body-lg: "Google Sans";
  --font-body-md: "Google Sans";
  --font-body-sm: "Google Sans";
  --font-label-lg: "Google Sans";
  --font-label-md: "Google Sans";
  --font-label-sm: "Google Sans";
  --font-wordmark: "Google Sans";
  --font-mark: "Google Sans";
  --text-headline-lg: 1.375rem;
  --text-headline-md: 1.0625rem;
  --text-body-lg: 1rem;
  --text-body-md: 1rem;
  --text-body-sm: 0.875rem;
  --text-label-lg: 0.875rem;
  --text-label-md: 0.8125rem;
  --text-label-sm: 0.75rem;
  --text-wordmark: 1rem;
  --text-mark: 0.875rem;
  --leading-headline-lg: 1.3;
  --leading-headline-md: 1.35;
  --leading-body-lg: 1.55;
  --leading-body-md: 1.5;
  --leading-body-sm: 1.45;
  --leading-label-lg: 1.2;
  --leading-label-md: 1.2;
  --leading-label-sm: 1.2;
  --leading-wordmark: 1.2;
  --leading-mark: 1;
  --tracking-headline-lg: -0.01em;
  --tracking-label-sm: 0.01em;
  --tracking-wordmark: 0.16em;
  --tracking-mark: 0.02em;
  --font-weight-headline-lg: 500;
  --font-weight-headline-md: 500;
  --font-weight-body-lg: 400;
  --font-weight-body-md: 400;
  --font-weight-body-sm: 400;
  --font-weight-label-lg: 500;
  --font-weight-label-md: 500;
  --font-weight-label-sm: 500;
  --font-weight-wordmark: 600;
  --font-weight-mark: 600;
  --radius-none: 0px;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.25rem;
  --radius-full: 9999px;
  --spacing-base: 0.25rem;
  --spacing-gutter: 1.25rem;
}
